<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='site.css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src='main.js'></script>
    </head>
    <body>
        <div class="container">
            <div class = "row">
                <h1>Bienvenue dans votre salon d'acuponcture en ligne</h1>
            </div>
        </div>
        
        
        <div>    
            <a href="data.html"><h2 >Accéder à la base de données d'acuponcture</h2></a>
        </div>
        <div class="button">
            <button onclick="window.location.href='connexion.html'"><b>Connexion</b></button>
        </div>
    </body>
</html>