<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Informations Acupuncture</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='print' href='css/impression_informations.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/menu.css'>

    <script src='main.js'></script>
</head>
<body>
        <ul>

        <li><a href="index.php" class="lien">Accueil</a></li>
        <li><a href="index.php?Display=true" class="lien">Données</a></li>
        <li><a href="index.php?Info=true" class="lien">Informations</a></li>
        <li><a href="index.php?Connexion=true" class="lien">Connexion</a></li>
        <li><a href="index.php?Inscription=true" class="lien">Inscription</a></li>
        <li><a href="index.php?Deco=true" class="lien">Déconnexion</a></li>


        </ul>

    <div id="creation">
        <h2>Créateurs de la page :</h2>
        <p>Mélic Dufrêne</p>
        <p>Florian Dupuis</p>
        <p>Etienne Engel</p>
        <p>Fabien Puissant</p>
    </div>
    <div id="docu">
        <h2>Documentation / Outils :</h2>
        <p><a>https://getbootstrap.com/</a><p>
        <p><a>https://www.w3schools.com/css/</a><p>
        <p><a>https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3</a></p>
        <p><a>Serveurs WAMP et LAMP ainsi que phpMyAdmin</a></p>
    </div>
</body>
</html>